<!doctype html>
<title>天気予報</title>
<head>
    <title></title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Bootstrap Javascript(jQuery含む) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <style>
      body {
        background-color: white;
        font-family: arial black;
        font-weight: bold;
      }

      .weather{
        font-family: "Impact";
        display: inline;
        text-align: center;
        top: 10%;
        font-size: 300%;
      }
      .details{
        text-align: center;
        font-weight: bold;
      }
      .details_title{
        text-align: center;
        font-weight: bold;
        color: black;
      }
      .details_warn{
        text-align: center;
        font-weight: bold;
      }
      @media (min-width: 768px){
        .navbar-brand{
          margin: 0 auto;
          display: table;
          table-layout: fixed;
          float:none;
        }
      }
      .table{
        font-size: 210% / 4;
      }
     .info{
       font-size:10%;
       font-weight: bold;
       text-align: center;
     }
      .today_weather{
        font-size: 120%;
        display: inline;
        margin-top: 3%;
        margin-left:10.5%;
      }
      .tomorrow_weather{
        font-size: 120%;
        display: inline;
        margin-top: -1%;
        margin-left: 38.5%;
      }
      .today_weather_icon{
        margin-top: 3%;
        margin-left: 6%;
        display: inline;
      }
      .tomorrow_weather_icon{
        margin-left: 30%;
        margin-top: 0%;
        display: inline;
      }
      .today-header{
        margin-left: 10% / 2;
      }
      .header{
        font-weight: bold;
        /* margin-left: 30px; */
        text-align: center;
      }
      .now_header{
        font-weight: bold;
      }
      .maxmin{
        display:inline-block;
        position:absolute;
        font-size: 120%;
        margin-left: 7.5%;
        margin-top: -1%;
      }
      .tomorrow_maxmin{
        display:inline-block;
        position:absolute;
        font-size: 120%;
        margin-top: -1%;
        margin-left: 58.5%;
      }
      .rain{
        display: inline-block;
        position:absolute;
        font-size: 120%;
        margin-top: -13%;
        margin-left: 28.5%;
      }
      .tomorrow_rain{
        display: inline-block;
        position:absolute;
        font-size: 120%;
        margin-top: -13%;
        margin-left: 80%
      }
      td {
        font-weight: bold;
      }

    </style>
</head>
<body>
    <header>
    </header>
    <div>
      <span class="today_weather">今日の天気：{{ values.weather }}</span>
      <span class="tomorrow_weather">明日の天気：{{ tomorrow.weather }}</span>
    </div>
    <div>
      <div class="today_weather_icon">
        <script>
          const weather = "{{ values.weather }}";
          switch(weather){
            case '晴':
              document.write('<img src="/static/img/晴.jpg" alt="晴れ" title="晴れ" width="230px;" height="115px;" id="weather"/>')
              break;
            case '雨':
              document.write('<img src="/static/img/雨.png" alt="雨" title="雨" width="230px;" height="115px;"/>')
              break;
            case '暴風雨':
              document.write('<img src="/static/img/暴風雨.png" alt="暴風雨" title="暴風雨 width="230px;" height="115px;""/>')
              break;
            case '曇':
              document.write('<img src="/static/img/曇.png" alt="曇" title="曇" id="weather" width="230px;" height="115px;"/>')
              break;
            case '雪':
              document.write('<img src="/static/img/雪.png" alt="雪" title="雪" width="230px;" height="115px;"/>')
              break;
            case '暴風雪':
              document.write('<img src="/static/img/暴風雪.png" alt="暴風雪" title="暴風雪" width="230px;" height="115px;"/>')
              break;
            case '晴のち雨':
              document.write('<img src="/static/img/晴のち雨.png" alt="晴のち雨" title="晴のち雨" width="230px;" height="115px;"/>')
              break;
            case '晴一時雨':
              document.write('<img src="/static/img/晴時々雨.png" alt="晴一時雨" title="晴一時雨" width="230px;" height="115px;"/>')
              break;
            case '晴時々雨':
              document.write('<img src="/static/img/晴時々雨.png" alt="晴時々雨" title="晴時々雨" width="230px;" height="115px;"/>')
              break;
            case '晴のち曇':
              document.write('<img src="/static/img/晴のち曇.png" alt="晴のち曇" title="晴のち曇" width="230px;" height="115px;"/>')
              break;
            case '晴一時曇':
              document.write('<img src="/static/img/晴時々曇.png" alt="晴一時曇" title="晴一時曇" width="230px;" height="115px;"/>')
              break;
            case '晴時々曇':
              document.write('<img src="/static/img/晴時々曇.png" alt="晴時々曇" title="晴時々曇" width="230px;" height="115px;"/>')
              break;
            case '晴のち雪':
              document.write('<img src="/static/img/晴のち雪.png" alt="晴のち雪" title="晴のち雪" width="230px;" height="115px;"/>')
              break;
            case '晴一時雪':
              document.write('<img src="/static/img/晴時々雪.png" alt="晴一時雪" title="晴一時雪" width="230px;" height="115px;"/>')
              break;
            case '晴時々雪':
              document.write('<img src="/static/img/晴時々雪.png" alt="晴時々雪" title="晴時々雪" width="230px;" height="115px;"/>')
              break;
            case '曇のち雨':
              document.write('<img src="/static/img/曇のち雨.png" alt="曇のち雨" title="曇のち雨" width="230px;" height="115px;"/>')
              break;
            case '曇一時雨':
              document.write('<img src="/static/img/曇時々雨.png" alt="曇一時雨" title="曇一時雨" width="230px;" height="115px;"/>')
              break;
            case '曇時々雨':
              document.write('<img src="/static/img/曇時々雨.png" alt="曇時々雨" title="曇時々雨" width="230px;" height="115px;"/>')
              break;
            case '曇のち晴':
              document.write('<img src="/static/img/曇のち晴.png" alt="曇のち晴" title="雲のち晴" width="230px;" height="115px;"/>')
              break;
            case '曇一時晴':
              document.write('<img src="/static/img/曇時々晴.png" alt="曇一時晴" title="曇一時晴" width="230px;" height="115px;"/>')
              break;
            case '曇時々晴':
              document.write('<img src="/static/img/曇時々晴.png" alt="曇時々晴" title="曇時々晴" width="230px;" height="115px;"/>')
              break;
            case '曇のち雪':
              document.write('<img src="/static/img/曇のち雪.png" alt="曇のち雪" title="曇のち雪" width="230px;" height="115px;"/>')
              break;
            case '曇一時雪':
              document.write('<img src="/static/img/曇時々雪.png" alt="曇一時雪" title="曇一時雪" width="230px;" height="115px;"/>')
              break;
            case '曇時々雪':
              document.write('<img src="/static/img/曇時々雪.png" alt="曇時々雪" title="曇時々雪" width="230px;" height="115px;"/>')
              break;
            case '雨のち晴':
              document.write('<img src="/static/img/雨のち晴.png" alt="雨のち晴" title="雨のち晴" width="230px;" height="115px;"/>')
              break;
            case '雨一時晴':
              document.write('<img src="/static/img/雨時々晴.png" alt="雨一時晴" title="雨一時晴" width="230px;" height="115px;"/>')
              break;
            case '雨時々晴':
              document.write('<img src="/static/img/雨時々晴.png" alt="雨時々晴" title="雨時々晴" width="230px;" height="115px;"/>')
              break;
            case '雨のち曇':
              document.write('<img src="/static/img/雨のち曇.png" alt="雨のち曇" title="雨のち曇" width="230px;" height="115px;"/>')
              break;
            case '雨一時曇':
              document.write('<img src="/static/img/雨時々曇.png" alt="雨一時曇" title="雨一時曇" width="230px;" height="115px;"/>')
              break;
            case '雨時々曇':
              document.write('<img src="/static/img/雨時々曇.png" alt="雨時々曇" title="雨時々曇" width="230px;" height="115px;"/>')
              break;
            case '雨のち雪':
              document.write('<img src="/static/img/雨のち雪.png" alt="雨のち雪" title="雨のち雪" width="230px;" height="115px;"/>')
              break;
            case '雨一時雪':
              document.write('<img src="/static/img/雨時々雪.png" alt="雨一時雪" title="雨一時雪" width="230px;" height="115px;"/>')
              break;
            case '雨時々雪':
              document.write('<img src="/static/img/雨時々雪.png" alt="雨時々雪" title="雨時々雪" width="230px;" height="115px;"/>')
              break;
            case '雪のち晴':
              document.write('<img src="/static/img/雪のち晴.png" alt="雪のち晴" title="雪のち晴" width="230px;" height="115px;"/>')
              break;
            case '雪一時晴':
              document.write('<img src="/static/img/雪時々晴.png" alt="雪一時晴" title="雪一時晴" width="230px;" height="115px;"/>')
              break;
            case '雪時々晴':
              document.write('<img src="/static/img/雪時々晴.png" alt="雪時々晴" title="雪時々晴" width="230px;" height="115px;"/>')
              break;
            case '雪のち曇':
              document.write('<img src="/static/img/雪のち曇.png" alt="雪のち曇" title="雪のち曇" width="230px;" height="115px;"/>')
              break;
            case '雪一時曇':
              document.write('<img src="/static/img/雪時々曇.png" alt="雪一時曇" title="雪一時曇" width="230px;" height="115px;"/>')
              break;
            case '雪時々曇':
              document.write('<img src="/static/img/雪時々曇.png" alt="雪時々曇" title="雪時々曇" width="230px;" height="115px;"/>')
              break;
            case '雪のち雨':
              document.write('<img src="/static/img/雪のち雨.png" alt="雪のち雨" title="雪のち雨" width="230px;" height="115px;"/>')
              break;
            case '雪一時雨':
              document.write('<img src="/static/img/雪時々雨.png" alt="雪一時雨" title="雪一時雨" width="230px;" height="115px;"/>')
              break;
            case '雪時々雨':
              document.write('<img src="/static/img/雪時々雨.png" alt="雪時々雨" title="雪時々雨" width="230px;" height="115px;"/>')
              break;
            default:
              document.write('<img src="/static/img/NoImage.png" alt="NoImage" title="NoImage" width="230px;" height="115px;"/>')
              break;
          }
        </script>
    </div>
      <div class="tomorrow_weather_icon">
        <script>
          const tomorrow_weather = "{{ tomorrow.weather }}";
          switch(tomorrow_weather){
            case '晴':
              document.write('<img src="/static/img/晴.png" alt="晴れ" title="晴れ" id="weather" width="230px;" height="115px;"/>')
              break;
            case '雨':
              document.write('<img src="/static/img/雨.png" alt="雨" title="雨" width="230px;" height="115px;"/>')
              break;
            case '暴風雨':
              document.write('<img src="/static/img/暴風雨.png" alt="暴風雨" title="暴風雨" width="230px;" height="115px;"/>')
              break;
            case '曇':
              document.write('<img src="/static/img/曇.png" alt="曇" title="曇" id="weather" width="230px;" height="115px;"/>')
              break;
            case '雪':
              document.write('<img src="/static/img/雪.png" alt="雪" title="雪" width="230px;" height="115px;"/>')
              break;
            case '暴風雪':
              document.write('<img src="/static/img/暴風雪.png" alt="暴風雪" title="暴風雪" width="230px;" height="115px;"/>')
              break;
            case '晴のち雨':
              document.write('<img src="/static/img/晴のち雨.png" alt="晴のち雨" title="晴のち雨" width="230px;" height="115px;"/>')
              break;
            case '晴一時雨':
              document.write('<img src="/static/img/晴時々雨.png" alt="晴一時雨" title="晴一時雨" width="230px;" height="115px;"/>')
              break;
            case '晴時々雨':
              document.write('<img src="/static/img/晴時々雨.png" alt="晴時々雨" title="晴時々雨" width="230px;" height="115px;"/>')
              break;
            case '晴のち曇':
              document.write('<img src="/static/img/晴のち曇.png" alt="晴のち曇" title="晴のち曇" width="230px;" height="115px;"/>')
              break;
            case '晴一時曇':
              document.write('<img src="/static/img/晴時々曇.png" alt="晴一時曇" title="晴一時曇" width="230px;" height="115px;"/>')
              break;
            case '晴時々曇':
              document.write('<img src="/static/img/晴時々曇.png" alt="晴時々曇" title="晴時々曇" width="230px;" height="115px;"/>')
              break;
            case '晴のち雪':
              document.write('<img src="/static/img/晴のち雪.png" alt="晴のち雪" title="晴のち雪" width="230px;" height="115px;"/>')
              break;
            case '晴一時雪':
              document.write('<img src="/static/img/晴時々雪.png" alt="晴一時雪" title="晴一時雪" width="230px;" height="115px;"/>')
              break;
            case '晴時々雪':
              document.write('<img src="/static/img/晴時々雪.png" alt="晴時々雪" title="晴時々雪" width="230px;" height="115px;"/>')
              break;
            case '曇のち雨':
              document.write('<img src="/static/img/曇のち雨.png" alt="曇のち雨" title="曇のち雨" width="230px;" height="115px;"/>')
              break;
            case '曇一時雨':
              document.write('<img src="/static/img/曇時々雨.png" alt="曇一時雨" title="曇一時雨" width="230px;" height="115px;"/>')
              break;
            case '曇時々雨':
              document.write('<img src="/static/img/曇時々雨.png" alt="曇時々雨" title="曇時々雨" width="230px;" height="115px;"/>')
              break;
            case '曇のち晴':
              document.write('<img src="/static/img/曇のち晴.png" alt="曇のち晴" title="雲のち晴" width="230px;" height="115px;"/>')
              break;
            case '曇一時晴':
              document.write('<img src="/static/img/曇時々晴.png" alt="曇一時晴" title="曇一時晴" width="230px;" height="115px;"/>')
              break;
            case '曇時々晴':
              document.write('<img src="/static/img/曇時々晴.png" alt="曇時々晴" title="曇時々晴" width="230px;" height="115px;"/>')
              break;
            case '曇のち雪':
              document.write('<img src="/static/img/曇のち雪.png" alt="曇のち雪" title="曇のち雪" width="230px;" height="115px;"/>')
              break;
            case '曇一時雪':
              document.write('<img src="/static/img/曇時々雪.png" alt="曇一時雪" title="曇一時雪" width="230px;" height="115px;"/>')
              break;
            case '曇時々雪':
              document.write('<img src="/static/img/曇時々雪.png" alt="曇時々雪" title="曇時々雪" width="230px;" height="115px;"/>')
              break;
            case '雨のち晴':
              document.write('<img src="/static/img/雨のち晴.png" alt="雨のち晴" title="雨のち晴" width="230px;" height="115px;"/>')
              break;
            case '雨一時晴':
              document.write('<img src="/static/img/雨時々晴.png" alt="雨一時晴" title="雨一時晴" width="230px;" height="115px;"/>')
              break;
            case '雨時々晴':
              document.write('<img src="/static/img/雨時々晴.png" alt="雨時々晴" title="雨時々晴" width="230px;" height="115px;"/>')
              break;
            case '雨のち曇':
              document.write('<img src="/static/img/雨のち曇.png" alt="雨のち曇" title="雨のち曇" width="230px;" height="115px;"/>')
              break;
            case '雨一時曇':
              document.write('<img src="/static/img/雨時々曇.png" alt="雨一時曇" title="雨一時曇" width="230px;" height="115px;"/>')
              break;
            case '雨時々曇':
              document.write('<img src="/static/img/雨時々曇.png" alt="雨時々曇" title="雨時々曇" width="230px;" height="115px;"/>')
              break;
            case '雨のち雪':
              document.write('<img src="/static/img/雨のち雪.png" alt="雨のち雪" title="雨のち雪" width="230px;" height="115px;"/>')
              break;
            case '雨一時雪':
              document.write('<img src="/static/img/雨時々雪.png" alt="雨一時雪" title="雨一時雪" width="230px;" height="115px;"/>')
              break;
            case '雨時々雪':
              document.write('<img src="/static/img/雨時々雪.png" alt="雨時々雪" title="雨時々雪" width="230px;" height="115px;"/>')
              break;
            case '雪のち晴':
              document.write('<img src="/static/img/雪のち晴.png" alt="雪のち晴" title="雪のち晴" width="230px;" height="115px;"/>')
              break;
            case '雪一時晴':
              document.write('<img src="/static/img/雪時々晴.png" alt="雪一時晴" title="雪一時晴" width="230px;" height="115px;"/>')
              break;
            case '雪時々晴':
              document.write('<img src="/static/img/雪時々晴.png" alt="雪時々晴" title="雪時々晴" width="230px;" height="115px;"/>')
              break;
            case '雪のち曇':
              document.write('<img src="/static/img/雪のち曇.png" alt="雪のち曇" title="雪のち曇" width="230px;" height="115px;"/>')
              break;
            case '雪一時曇':
              document.write('<img src="/static/img/雪時々曇.png" alt="雪一時曇" title="雪一時曇" width="230px;" height="115px;"/>')
              break;
            case '雪時々曇':
              document.write('<img src="/static/img/雪時々曇.png" alt="雪時々曇" title="雪時々曇" width="230px;" height="115px;"/>')
              break;
            case '雪のち雨':
              document.write('<img src="/static/img/雪のち雨.png" alt="雪のち雨" title="雪のち雨" width="230px;" height="115px;"/>')
              break;
            case '雪一時雨':
              document.write('<img src="/static/img/雪時々雨.png" alt="雪一時雨" title="雪一時雨" width="230px;" height="115px;"/>')
              break;
            case '雪時々雨':
              document.write('<img src="/static/img/雪時々雨.png" alt="雪時々雨" title="雪時々雨" width="230px;" height="115px;"/>')
              break;
            default:
              document.write('<img src="/static/img/NoImage.png" alt="NoImage" title="NoImage" width="230px;" height="115px;"/>')
              break;
          }
        </script>
      </div>
    </div>

  <div class="table">
    <div class="maxmin">
      <p></p>
      <!-- <div class="header">今日の気温</div> -->
      <table>
        <tr>
          <th class="details_title">最高気温</th>
          <td style="color:rgb(255, 68, 0);">{{ values.temp_max }} {{ values.temp_max_diff }}</td>
        </tr>
        <tr>
          <th class="details_title">最低気温</th>
          <td style="color:blue;">{{ values.temp_min }} {{ values.temp_min_diff }}</td>
        </tr>
      </table>
    </div>

    <div class="rain">
      <p></p>
      <div class="header">今日の降水確率</div>
      <table>
        <tr>
          <th class="details_title">0時～6時</th>
          <td style="color:blue;">{{ precip.precip_earlymorning }}</td>
        </tr>
        <tr>
          <th class="details_title">6時～12時</th>
          <td style="color:blue;">{{ precip.precip_morning }}</td>
        </tr>
        <tr>
          <th class="details_title">12時～18時</th>
          <td style="color:blue;">{{ precip.precip_noon }}</td>
        </tr>
        <tr>
          <th class="details_title">18時～24時</th>
          <td style="color:blue;">{{ precip.precip_afternoon }}</td>
        </tr>
      </table>
    </div>

    <div class="tomorrow_maxmin">
      <p></p>
      <!-- <div class="header">明日の気温</div> -->
      <table>
        <tr>
          <th class="details_title">最高気温</th>
          <td style="color:rgb(255, 68, 0);">{{ tomorrow.temp_max }} {{ tomorrow.temp_max_diff }}</td>
        </tr>
        <tr>
          <th class="details_title">最低気温</th>
          <td style="color:blue;">{{ tomorrow.temp_min }} {{ tomorrow.temp_min_diff }}</td>
        </tr>
      </table>
    </div>

    <div class="tomorrow_rain">
      <p></p>
      <div class="header">明日の降水確率</div>
      <table>
        <tr>
          <th class="details_title">0時～6時</th>
          <td style="color:blue;">{{ tomorrow_precip.precip_earlymorning_tomorrow }}</td>
        </tr>
        <tr>
          <th class="details_title">6時～12時</th>
          <td style="color:blue;">{{ tomorrow_precip.precip_morning_tomorrow }}</td>
        </tr>
        <tr>
          <th class="details_title">12時～18時</th>
          <td style="color:blue;">{{ tomorrow_precip.precip_noon_tomorrow }}</td>
        </tr>
        <tr>
          <th class="details_title">18時～24時</th>
          <td style="color:blue;">{{ tomorrow_precip.precip_afternoon_tomorrow }}</td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>
